::-moz-selection {
    background: $pale-blue;
    text-shadow: none;
}

::selection {
    background: $pale-blue;
    text-shadow: none;
}


ul.no-dots > li{
    list-style: none;
}




body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h2 {
    font-size: 16px;
    color: #999999;
    font-weight: 300;
    letter-spacing: 4.09px;
    line-height: 32px;
    text-transform: uppercase;

    @include susy-breakpoint($medium-screen){
        font-size: 27px;
    }
}

h3 {
    font-weight: 300;
    font-size: 21px;
    color: #999999;
    letter-spacing: 4.09px;
    line-height: 32px;
    text-transform: uppercase;
}

p {
        margin: 0 0 $small-spacing;
    font-weight: 100;
    font-size: 17px;
    margin-bottom: 25px;
}

a {
    color: $action-color;
    text-decoration: none;
    transition: color $base-duration $base-timing;

    &:active,
    &:focus,
    &:hover {
        color: shade($action-color, 25%);
        outline: 0;
    }
}

hr {
    border-bottom: $base-border;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: $base-spacing 0;
}


button {
    border: none;
    background: none;
    padding: 0 5px;
}
button:active,
button:focus {
    outline: 0;
}
