@mixin media-min($size){
	@media screen and (min-width: $size) {
		@content;
	}
}

@mixin media-max($size){
	@media screen and (max-width: #{$size - 1}) {
		@content;
	}
}


@mixin clearfix(){
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}