$color-alpha : #97bfb4;
$color-alpha--ligher : lighten(#97bfb4, 25%);
$color-alpha--darker : darken(#97bfb4, 15%);
$color-beta: rgba(black, .45);
$color-gamma: #fffdf5;


$screen-medium: 600px;
$screen-medium-large: 800px;
$screen-large: 1200px;
