.c-about-section {
	display: flex;
	justify-content: center;
	flex-direction:column;
	padding: 2.5rem;
	position: relative;
	box-sizing: border-box;
	background: white;

	@include media-min($screen-medium) {
		width: 60%;
	}
	@include media-min($screen-large) {
		width: 50%;
	}

	&::after {
		@include media-min($screen-medium) {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 100vw;
			content: ' ';
			background-size: cover;
			background: url('/assets/images/about-bg.jpg') right bottom no-repeat;
			background-attachment: fixed;
			z-index: -1;
		}
	}

		&__title {
		color: $color-beta;
		font-weight: 300;
		font-size: 20px;
	}
}