.c-floating-title {
	position: fixed;
	top: 1.5rem;
	right: 3rem;
	font-size: 1rem;
	z-index: 3;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $color-alpha;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;

	@include media-min($screen-medium){
		right: 4rem;
	}

	&--black {
		color: #000;
	}

	&--white {
		color: #fff;
	}
}
