.c-home-intro {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	padding: 10px 30px;

	&__title {
		font-size: 40px;
		text-transform: uppercase;
		font-weight: bolder;
		text-align: center;
		color: #333333;

		@include media-min($screen-medium){
			font-size: 80px;
		}
	}

	&__description {
		margin: 0 auto 5rem;
		text-align: center;
		font-size:25px;
		font-weight: 300;
		letter-spacing: 2px;
		color: $color-beta;
		text-transform: uppercase;

		@include media-min($screen-medium) {
			margin-bottom: 3rem;
			font-size: 50px;
		}
	}
}
