.c-post {
	$scope: &;

	padding: 1rem;
	background: white;
	border-radius: 3px;
	display: flex;
	flex-direction: column;

	&:hover {
		#{$scope}__title {
			color: #000;
		}
	}

	&__link {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		text-decoration: none;
		color: $color-beta;
	}

	&__title {
		color: $color-alpha--darker;
		transition: color .2s;
	}

	&__date {
		font-size: .8rem;
		padding-bottom: 1rem;
	}

	&__categories {
		flex: 0 0 auto;
		display: flex;
		padding: 0;
		margin: auto 0 0;
		flex-wrap: wrap;
	}

	&__category {
		list-style: none;
		color: #fff;
		padding: .3rem;
		border-radius: 3px;
		background: $color-beta;
		white-space: nowrap;
		text-transform: uppercase;
		font-size: .7rem;
		margin-bottom: .4rem;
		margin-right: .4rem;
	}
}