<footer class="footer-main">
    <div>
        <div class="logo-footer"></div>
    </div>
    <div class="footer-social">
        <a class="footer-social__link" href="https://github.com/oldirony" target="_blank"><i class="fa fa-github"></i></a>
        <a class="footer-social__link" href="mailto:raffaele.abramini@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
        <a class="footer-social__link" href="https://it.linkedin.com/in/raffaeleabramini" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a class="footer-social__link" href="https://twitter.com/anyoldirony" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>

    <div class="copyright">
        All rights reserved - &copy; 2016 - Oldirony.cc <br><br>
        Portfolio source code on <a href="https://github.com/oldirony/portfolio" target="_blank">Github</a>.
    </div>
</footer>