<footer class="footer-main">
    <div>
        <div class="logo-footer"></div>
    </div>
    <div class="footer-social">
        <a href="mailto:raffaele.abramini@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
        <a href="https://it.linkedin.com/in/raffaeleabramini" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://twitter.com/anyoldirony" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>

    <div class="copyright">
        All rights reserved - &copy;2015 - Oldirony.cc
    </div>
</footer>