<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Old Irony - Raffaele Abramini</title>
    <meta name="description" content="Raffaele Abramini's Web Portfolio: Web Development, Web Design.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="img/favicon.png?c=5" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <meta property="og:title" content="Old Irony - Raffaele Abramini">
    <meta property="og:description" content="Raffaele Abramini's Web Portfolio: Web Development, Web Design.">
    <meta property="og:image" content="http://oldirony.cc/img/logo-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="400">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="//use.typekit.net/bzn0grm.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>


<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->