<div id="portfolio" class="section portfolio toAnimate" data-title="Portfolio" data-color="white">
    <h4 class="section__title">Portfolio</h4>
    <div class="portfolio__element u-animated" style="background-image:url(/default-theme/img/portfolio/bsc.jpg);">
        <div class="portfolio__element__inner">
            <h3 class="portfolio__element__title">British Study Centres</h3>
            <span class="portfolio__element__url">british-study.com</span>
            <a class="portfolio__element__url" target="_blank" href="http://british-study.com/"><i class="fa fa-link"></i></a>
            <div class="portfolio__element__details">Frontend Development, Responsive, PHP, jQuery, JSON Multilingual System</div>
        </div>
    </div>
    <div class="portfolio__element u-animated" style="background-image:url(/default-theme/img/portfolio/bsc_blog.jpg);">
        <div class="portfolio__element__inner">
            <h3 class="portfolio__element__title">Blog - British Study Centres</h3>
            <span class="portfolio__element__url">british-study.com/blog</span>
            <a class="portfolio__element__url" target="_blank" href="http://british-study.com/blog/"><i class="fa fa-link"></i></a>
            <div class="portfolio__element__details">Wordpress, Development, Responsive, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio__element u-animated" style="background-image:url(/default-theme/img/portfolio/cdc.jpg);">
        <div class="portfolio__element__inner">
            <h3 class="portfolio__element__title">Corriere di Como</h3>
            <span class="portfolio__element__url">corrieredicomo.it</span>
            <a class="portfolio__element__url" target="_blank" href="http://corrieredicomo.it/"><i class="fa fa-link"></i></a>
            <div class="portfolio__element__details">Wordpress, Development, Responsive, PHP, jQuery, Custom Backend</div>
        </div>
    </div>
    <div class="portfolio__element u-animated" style="background-image:url(/default-theme/img/portfolio/valpoci.jpg);">
        <div class="portfolio__element__inner">
            <h3 class="portfolio__element__title">Valpoci</h3>
            <span class="portfolio__element__url">valpoci.it</span>
            <a class="portfolio__element__url" target="_blank" href="http://valpoci.it/"><i class="fa fa-link"></i></a>
            <div class="portfolio__element__details">Wordpress, Development, Responsive, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio__element u-animated" style="background-image:url(/default-theme/img/portfolio/atuttogoal.jpg);">
        <div class="portfolio__element__inner">
            <h3 class="portfolio__element__title">A Tutto Goal</h3>
            <span class="portfolio__element__url">atuttogoal.it</span>
            <a class="portfolio__element__url" target="_blank" href="http://atuttogoal.it/"><i class="fa fa-link"></i></a>
            <div class="portfolio__element__details">Wordpress, Design, Development, Responsive, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio__element u-animated" style="background-image:url(/default-theme/img/portfolio/exa.jpg);">
        <div class="portfolio__element__inner">
            <h3 class="portfolio__element__title">Exa Pumps</h3>
            <span class="portfolio__element__url">exapumps.it</span>
            <a class="portfolio__element__url" target="_blank" href="http://exapumps.it/"><i class="fa fa-link"></i></a>
            <div class="portfolio__element__details">Wordpress, Design, Development, restricted areas, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio__element u-animated" style="background-image:url(/default-theme/img/portfolio/fola.jpg);">
        <div class="portfolio__element__inner">
            <h3 class="portfolio__element__title">Folatti</h3>
            <span class="portfolio__element__url">folatti.it</span>
            <a class="portfolio__element__url" target="_blank" href="http://folatti.it/"><i class="fa fa-link"></i></a>
            <div class="portfolio__element__details">Wordpress, Development, Responsive, user custom contens, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio__element u-animated" style="background-image:url(/default-theme/img/portfolio/kpm.jpg);">
        <div class="portfolio__element__inner">
            <h3 class="portfolio__element__title">KPM Broaching</h3>
            <span class="portfolio__element__url">kpmbroaching.com</span>
            <a class="portfolio__element__url" target="_blank" href="http://kpmbroaching.com/"><i class="fa fa-link"></i></a>
            <div class="portfolio__element__details">Landing Page, Design, Development, Responsive, jQuery</div>
        </div>
    </div>
    <div class="portfolio__element u-animated" style="background-image:url(/default-theme/img/portfolio/dema.jpg);">
        <div class="portfolio__element__inner">
            <h3 class="portfolio__element__title">Dema Costruzioni</h3>
            <span class="portfolio__element__url">dema-costruzioni.com</span>
            <a class="portfolio__element__url" target="_blank" href="http://dema-costruzioni.com/"><i class="fa fa-link"></i></a>
            <div class="portfolio__element__details">Wordpress, Development, Responsive, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio__element u-animated" style="background-image:url(/default-theme/img/portfolio/tessile.jpg);">
        <div class="portfolio__element__inner">
            <h3 class="portfolio__element__title">Tessile &amp; Salute</h3>
            <span class="portfolio__element__url">tessileesalute.it</span>
            <a class="portfolio__element__url" target="_blank" href="http://tessileesalute.it/"><i class="fa fa-link"></i></a>
            <div class="portfolio__element__details">Wordpress, Development, Responsive, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio__element u-animated" style="background-image:url(/default-theme/img/portfolio/immob.jpg);">
        <div class="portfolio__element__inner">
            <h3 class="portfolio__element__title">Immobiliare Morbegno</h3>
            <span class="portfolio__element__url">immobiliaremorbegno.it</span>
            <a class="portfolio__element__url" target="_blank" href="http://immobiliaremorbegno.it/"><i class="fa fa-link"></i></a>
            <div class="portfolio__element__details">Wordpress, Development, Responsive, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio__element u-animated" style="background-image:url(/default-theme/img/portfolio/cptech.jpg);">
        <div class="portfolio__element__inner">
            <h3 class="portfolio__element__title">CP Technology</h3>
            <span class="portfolio__element__url">cptechnology.it</span>
            <a class="portfolio__element__url" target="_blank" href="http://cptechnology.it/"><i class="fa fa-link"></i></a>
            <div class="portfolio__element__details">Wordpress, Development, Responsive, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio__element u-animated" style="background-image:url(/default-theme/img/portfolio/latteria.jpg);">
        <div class="portfolio__element__inner">
            <h3 class="portfolio__element__title">Latteria Valtellina</h3>
            <span class="portfolio__element__url">latteriavaltellina.it</span>
            <a class="portfolio__element__url" target="_blank" href="http://latteriavaltellina.it/"><i class="fa fa-link"></i></a>
            <div class="portfolio__element__details">Wordpress, Development, Responsive, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio__element u-animated" style="background-image:url(/default-theme/img/portfolio/scuolalat.jpg);">
        <div class="portfolio__element__inner">
            <h3 class="portfolio__element__title">Latteria Valtellina: Progetto Scuola</h3>
            <span class="portfolio__element__url">scuola.latteriavaltellina.it</span>
            <a class="portfolio__element__url" target="_blank" href="http://scuola.latteriavaltellina.it/"><i class="fa fa-link"></i></a>
            <div class="portfolio__element__details">Wordpress, Development, Responsive, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio__element u-animated" style="background-image:url(/default-theme/img/portfolio/miele.jpg);">
        <div class="portfolio__element__inner">
            <h3 class="portfolio__element__title">Miele Dell'Orto</h3>
            <span class="portfolio__element__url">mieledellorto.it</span>
            <a class="portfolio__element__url" target="_blank" href="http://mieledellorto.it/"><i class="fa fa-link"></i></a>
            <div class="portfolio__element__details">Wordpress, Development</div>
        </div>
    </div>
    <div class="portfolio__element u-animated" style="background-image:url(/default-theme/img/portfolio/blp.jpg);">
        <div class="portfolio__element__inner">
            <h3 class="portfolio__element__title">BLP Costruzioni</h3>
            <span class="portfolio__element__url">blpcostruzioni.com</span>
            <a class="portfolio__element__url" target="_blank" href="http://blpcostruzioni.com/"><i class="fa fa-link"></i></a>
            <div class="portfolio__element__details">Wordpress, Development, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio__element u-animated" style="background-image:url(/default-theme/img/portfolio/okaypap.jpg);">
        <div class="portfolio__element__inner">
            <h3 class="portfolio__element__title">Okaypaper</h3>
            <span class="portfolio__element__url">www.okaypaper.com</span>
            <a class="portfolio__element__url" target="_blank" href="http://www.okaypaper.com/"><i class="fa fa-link"></i></a>
            <div class="portfolio__element__details">Wordpress, Development, PHP, jQuery</div>
        </div>
    </div>
    <button id="show-more-portfolio" class="utility">Show more <i class="fa fa-plus"></i></button>
</div>