<div id="about" class="section js-animated about" data-title="about me" data-color="black">
    <div class="about__copy">
        <div class="u-vertical-centered">
            <h2 class="u-animated">Hi! I am Raffaele</h2>
            <p class="u-animated">I’m a young Italian <span class="u-highlight">web developer</span> and I love coding and building websites. I earned a Bachelor’s degree in Communication Design at Polytechnic University of Milan in 2012. For two years I worked in a communication agency. I have knowledge of web languages such as html, css, javascript, PHP, SQL and techniques such as SEO, mobile optimization, UI &amp; UX improvement.</p>
            <p class="u-animated">Bored by the static Italian enviroment, I decided to move to London in September 2014 where I have been hired as a Front-End Developer by a prestigious School of English. I coded the website for this school, side by side with a great developer and a famous designer.</p>
            <p class="u-animated">After the publishing of the website (and some good, old, live corrections), I projected and developed a webapp for doing and marking the online student initial test.</p>
        </div>
    </div>
    <div class="about__wallpaper"></div>
</div>