<div id="about" class="section js-animated about" data-title="about me" data-color="black">
    <div class="about__copy">
        <div class="u-vertical-centered">
            <h2 class="u-animated">Hi! I am Raffaele</h2>
            <p class="u-animated">I'm a 25 years old Italian <span class="u-highlight">web developer</span> and I love coding and building websites and web apps. I earned a Bachelor’s degree in Communication Design at Polytechnic University of Milan in 2012. For two years I worked in a communication agency. I have knowledge of web languages such as html, css, javascript, PHP, SQL and techniques such as SEO, mobile optimization, UI &amp; UX improvement.</p>
            <p class="u-animated">Bored by the static Italian environment, I decided to move to London in September 2014 where I have been hired as a Front-End Developer by a prestigious School of English. I coded the website for this school and a web app for the online tests.</p>
            <p class="u-animated">Since May 2015 I've been working as frontend and backend developer for
                <a href="http://steellondon.com/" title="STEEL London agency website" target="_blank">STEEL London</a>, growing my knowledge of new technologies and techniques as well as team working and agile workflow. I created websites based on the Silverstripe Framework, realised several Angular applications and managed remote servers via ssh.</p>
            <p class="u-animated">You can find the source code of my portfolio on <a href="https://github.com/oldirony/portfolio" target="_blank">Github</a>.</p>
        </div>
    </div>
    <div class="about__wallpaper"></div>
</div>