<div id="portfolio" class="section toAnimate" data-title="Portfolio" data-color="white">
    <h4 class="section-title">Portfolio</h4>
    <div class="portfolio-element animated" style="background-image:url(../img/portfolio/bsc.jpg);">
        <div class="inner">
            <h3>British Study Centres</h3>
            <span class="url">british-study.com</span>
            <a target="_blank" href="http://british-study.com/"><i class="fa fa-link"></i></a>
            <div class="details">Frontend Development, Responsive, PHP, jQuery, JSON Multilingual System</div>
        </div>
    </div>
    <div class="portfolio-element animated" style="background-image:url(../img/portfolio/bsc_blog.jpg);">
        <div class="inner">
            <h3>Blog - British Study Centres</h3>
            <span class="url">british-study.com/blog</span>
            <a target="_blank" href="http://british-study.com/blog/"><i class="fa fa-link"></i></a>
            <div class="details">Wordpress, Development, Responsive, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio-element animated" style="background-image:url(../img/portfolio/cdc.jpg);">
        <div class="inner">
            <h3>Corriere di Como</h3>
            <span class="url">corrieredicomo.it</span>
            <a target="_blank" href="http://corrieredicomo.it/"><i class="fa fa-link"></i></a>
            <div class="details">Wordpress, Development, Responsive, PHP, jQuery, Custom Backend</div>
        </div>
    </div>
    <div class="portfolio-element animated" style="background-image:url(../img/portfolio/valpoci.jpg);">
        <div class="inner">
            <h3>Valpoci</h3>
            <span class="url">valpoci.it</span>
            <a target="_blank" href="http://valpoci.it/"><i class="fa fa-link"></i></a>
            <div class="details">Wordpress, Development, Responsive, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio-element animated" style="background-image:url(../img/portfolio/atuttogoal.jpg);">
        <div class="inner">
            <h3>A Tutto Goal</h3>
            <span class="url">atuttogoal.it</span>
            <a target="_blank" href="http://atuttogoal.it/"><i class="fa fa-link"></i></a>
            <div class="details">Wordpress, Design, Development, Responsive, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio-element animated" style="background-image:url(../img/portfolio/exa.jpg);">
        <div class="inner">
            <h3>Exa Pumps</h3>
            <span class="url">exapumps.it</span>
            <a target="_blank" href="http://exapumps.it/"><i class="fa fa-link"></i></a>
            <div class="details">Wordpress, Design, Development, restricted areas, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio-element animated" style="background-image:url(../img/portfolio/fola.jpg);">
        <div class="inner">
            <h3>Folatti</h3>
            <span class="url">folatti.it</span>
            <a target="_blank" href="http://folatti.it/"><i class="fa fa-link"></i></a>
            <div class="details">Wordpress, Development, Responsive, user custom contens, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio-element animated" style="background-image:url(../img/portfolio/kpm.jpg);">
        <div class="inner">
            <h3>KPM Broaching</h3>
            <span class="url">kpmbroaching.com</span>
            <a target="_blank" href="http://kpmbroaching.com/"><i class="fa fa-link"></i></a>
            <div class="details">Landing Page, Design, Development, Responsive, jQuery</div>
        </div>
    </div>
    <div class="portfolio-element animated" style="background-image:url(../img/portfolio/dema.jpg);">
        <div class="inner">
            <h3>Dema Costruzioni</h3>
            <span class="url">dema-costruzioni.com</span>
            <a target="_blank" href="http://dema-costruzioni.com/"><i class="fa fa-link"></i></a>
            <div class="details">Wordpress, Development, Responsive, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio-element animated" style="background-image:url(../img/portfolio/tessile.jpg);">
        <div class="inner">
            <h3>Tessile &amp; Salute</h3>
            <span class="url">tessileesalute.it</span>
            <a target="_blank" href="http://tessileesalute.it/"><i class="fa fa-link"></i></a>
            <div class="details">Wordpress, Development, Responsive, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio-element animated" style="background-image:url(../img/portfolio/immob.jpg);">
        <div class="inner">
            <h3>Immobiliare Morbegno</h3>
            <span class="url">immobiliaremorbegno.it</span>
            <a target="_blank" href="http://immobiliaremorbegno.it/"><i class="fa fa-link"></i></a>
            <div class="details">Wordpress, Development, Responsive, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio-element animated" style="background-image:url(../img/portfolio/cptech.jpg);">
        <div class="inner">
            <h3>CP Technology</h3>
            <span class="url">cptechnology.it</span>
            <a target="_blank" href="http://cptechnology.it/"><i class="fa fa-link"></i></a>
            <div class="details">Wordpress, Development, Responsive, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio-element animated" style="background-image:url(../img/portfolio/latteria.jpg);">
        <div class="inner">
            <h3>Latteria Valtellina</h3>
            <span class="url">latteriavaltellina.it</span>
            <a target="_blank" href="http://latteriavaltellina.it/"><i class="fa fa-link"></i></a>
            <div class="details">Wordpress, Development, Responsive, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio-element animated" style="background-image:url(../img/portfolio/scuolalat.jpg);">
        <div class="inner">
            <h3>Latteria Valtellina: Progetto Scuola</h3>
            <span class="url">scuola.latteriavaltellina.it</span>
            <a target="_blank" href="http://scuola.latteriavaltellina.it/"><i class="fa fa-link"></i></a>
            <div class="details">Wordpress, Development, Responsive, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio-element animated" style="background-image:url(../img/portfolio/miele.jpg);">
        <div class="inner">
            <h3>Miele Dell'Orto</h3>
            <span class="url">mieledellorto.it</span>
            <a target="_blank" href="http://mieledellorto.it/"><i class="fa fa-link"></i></a>
            <div class="details">Wordpress, Development</div>
        </div>
    </div>
    <div class="portfolio-element animated" style="background-image:url(../img/portfolio/blp.jpg);">
        <div class="inner">
            <h3>BLP Costruzioni</h3>
            <span class="url">blpcostruzioni.com</span>
            <a target="_blank" href="http://blpcostruzioni.com/"><i class="fa fa-link"></i></a>
            <div class="details">Wordpress, Development, PHP, jQuery</div>
        </div>
    </div>
    <div class="portfolio-element animated" style="background-image:url(../img/portfolio/okaypap.jpg);">
        <div class="inner">
            <h3>Okaypaper</h3>
            <span class="url">www.okaypaper.com</span>
            <a target="_blank" href="http://www.okaypaper.com/"><i class="fa fa-link"></i></a>
            <div class="details">Wordpress, Development, PHP, jQuery</div>
        </div>
    </div>
    <button id="show-more-portfolio" class="utility">Show more <i class="fa fa-plus"></i></button>
</div>