<div id="skills" class="skills section js-animated section--last" data-title="skills &amp; knowledge" data-color="gray">
    <div class="skills__inner u-vertical-centered">
        <h4 class="section__title u-animated">Skills &amp; Knowledge</h4>

        {{#skills-groups}}
            <div class="skills-group u-animated">
                <h3 class="skills-group__title">{{title}}</h3>
                <div class="skills-group__wrap">
                {{#skills}}
                    <div class="skill">
                        <i class="skill__icon fa {{icon}}"></i>
                        <h4 class="skill__title">{{title}}</h4>
                    </div>
                {{/skills}}
                </div>
                <hr>
            </div>
        {{/skills-groups}}

    </div>
</div>
