<header id="intro" class="section section--first intro" data-title="" data-color="gray">
    <h1 class="logo u-animated u-vertical-centered">
        <img src="/default-theme/img/logo@2x.png" alt="Old Irony Web Development" width="360" height="360">
    </h1>
    <h2 class="intro__subtitle u-animated u-noselect">Web Development</h2>
</header>
