<div id="skills" class="section toAnimate last" data-title="skills &amp; knowledge" data-color="gray">
    <div class="skill-groups-container v-centered">
        <h4 class="section-title">Skills &amp; Knowledge</h4>
        <div class="skill-group animated">
            <h3>Languages</h3>
            <div class="skills-container">
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>HTML 5</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>CSS 3</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>PHP</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>javascript</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>sql</h4>
                </div>
            </div>
            <hr>
        </div>
        <div class="skill-group animated">
            <h3>CMS</h3>
            <div class="skills-container">
                <div class="skill">
                    <i class="fa fa-wordpress"></i>
                    <h4>Wordpress</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-joomla"></i>
                    <h4>Joomla</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-drupal"></i>
                    <h4>Drupal</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-shopping-cart"></i>
                    <h4>Opencart</h4>
                </div>
            </div>
            <hr>
        </div>
        <div class="skill-group animated">
            <h3>Libraries</h3>
            <div class="skills-container">
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>jQuery</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>AJAX</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>Meteor.js *</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>Node.js *</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>Grunt</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>LESS, SASS</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>Bootstrap</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>Backbone.js *</h4>
                </div>
            </div>
            <hr>
        </div>
        <div class="skill-group animated">
            <h3>Software</h3>
            <div class="skills-container">
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>Sublime Text</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>Sketch</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>Photoshop</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>Illustrator</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>inDesign</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>Office Package</h4>
                </div>
            </div>
            <hr>
        </div>
        <div class="skill-group animated">
            <h3>Miscellaneous</h3>
            <div class="skills-container">
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>Responsive Websites</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>SEO</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>IE Optimization</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>Google Analytics</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>Campaign Monitor</h4>
                </div>
                <div class="skill">
                    <i class="fa fa-gear"></i>
                    <h4>FB, Twitter &amp; Social API</h4>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
