<header id="intro" class="section first" data-title="" data-color="gray">
    <h1 class="v-centered logo animated">
        Old Irony - Web Development &amp; Design
        <img src="img/logo@2x.png" alt="Old Irony Web Development" width="360" height="360">
    </h1>
    <h2 class="animated noselect">Web Development</h2>
</header>