body {
	margin: 0;
	font-family: "museo-sans", Helvetica, Arial, sans-serif;
}

img {
	max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	margin-bottom: 1em;
}


p {
	line-height:1.6;
	color: #333;
	font-weight: 300;
	margin-top: 0;

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	color: $color-alpha--darker;
	text-decoration: underline;
}

ul {
	margin: 0;
}

.u-highlight {
	font-weight: bold;
}