.o-animate-on-open {
	$scope:&;
	opacity: 0;

	.is-open & {
		animation: slideInRight .2s forwards;

		@for $i from 1 through 4 {
			&:nth-child(#{$i})	{
				animation-delay: #{.1 + $i * .05}s;
			}
		}

		&--pop {
			animation: pop .4s forwards;

			@for $i from 1 through 20 {
				&:nth-child(#{$i})	{
					animation-delay: #{.1 + $i * .05}s;
				}
			}
		}
	}
}

@keyframes slideInRight {
	0% {
		opacity: 0;
		transform: translateX(10%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}



@keyframes pop {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	60% {
		opacity: 1;
		transform: scale(1.2);
	}
	60% {
		opacity: 1;
		transform: scale(.8);
	}
	60% {
		opacity: 1;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}