.o-portfolio-grid {
	@include clearfix;

	> *:not(:last-child) {
		float: left;
		width: calc(50vw - 1px);

		&:nth-child(2n) {
			border-left:1px solid white;
		}

		@include media-min($screen-medium) {
			width: calc(33vw - 1px);

			&:nth-child(2n) {
				border-left:unset;
			}

			&:nth-child(3n + 2),
			&:nth-child(3n + 3) {
				border-left:1px solid white;
			}
		}
		@include media-min($screen-medium-large) {
			width: calc(25vw - 1px);

			&:nth-child(3n + 2),
			&:nth-child(3n + 3) {
				border-left:unset;
			}


			&:nth-child(4n + 2),
			&:nth-child(4n + 3),
			&:nth-child(4n + 4) {
				border-left:1px solid white;
			}
		}
		@include media-min($screen-large) {
			width: calc(20vw - 1px);

			&:nth-child(4n + 2),
			&:nth-child(4n + 3),
			&:nth-child(4n + 4) {
				border-left:unset;
			}

			&:nth-child(5n + 2),
			&:nth-child(5n + 3),
			&:nth-child(5n + 4),
			&:nth-child(5n + 5) {
				border-left:1px solid white;
			}
		}
	}
}