footer .logo-footer {
    width: 124px;
    height: 15px;
    margin: 17px auto 11px;
}
footer .footer-social {
    border-left: none;
    margin-top: 0;
    margin-bottom: 0;
}
footer .footer-social a {
    padding: 0;
    width: 33%;
    margin: 0;
    display: block;
    float: left;
    text-align: center;
    padding-bottom: 10px;
    font-size: 16px;
}


.footer-main {
    @include clearfix();
    background: #97BFB4;

    &:first-child {
        @include susy-breakpoint($medium-screen){
            @include span(4);
        }

        .logo-footer {
            background: url(../img/logo-footer@2x.png) no-repeat;
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
            width: 124px;
            height: 15px;
            margin: 17px auto 11px;

            @include susy-breakpoint($medium-screen){
                margin-top: 40px;
                margin-bottom: 40px;
                margin-left: 50px;
                width: 248px;
                height: 29px;
            }
            @media (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi) {
                & {
                    background-image: url(../img/logo-footer@2x.png);
                }
            }


        }
    }


    .footer-social {
        border-left: none;
        margin-top: 0;
        margin-bottom: 0;

        @include susy-breakpoint($medium-screen){
            @include span(8 last);
            border-left: 1px solid #fff;
            margin-top: 16px;
            margin-bottom: 16px;
        }

        &__link {
            color: #FFF;
            width: 33%;
            display: block;
            float: left;
            text-align: center;
            padding-bottom: 10px;
            font-size: 16px;


            @include susy-breakpoint($medium-screen) {
                display: inline-block;
                padding: 24px 0 24px 50px;
                font-size: 23px;
                text-align: left;
                width: auto;
                float: none;
            }
        }
    }

    .copyright {
        text-align: center;
        font-weight: 300;
        font-size: 13px;
        color: #AAAAAA;
        line-height: 15px;
        padding: 15px 0;
    }
}
