footer .logo-footer {
    width: 7.75em;
    height: .9em;
    margin: 1em auto .68em;
}
footer .footer-social {
    border-left: none;
    margin-top: 0;
    margin-bottom: 0;
}
footer .footer-social a {
    padding: 0;
    width: 33%;
    margin: 0;
    display: block;
    float: left;
    text-align: center;
    padding-bottom: .62em;
    font-size: 1em;
}


.footer-main {
    @include clearfix();
    background: #97BFB4;

    > *:first-child {

        @include susy-breakpoint($medium-screen) {
            @include span(8);
        }

        .logo-footer {
            background: url(../img/logo-footer@2x.png) no-repeat;
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
            width: 7.75em;
            height: 0.93em;
            margin: 1.06em auto 0.68em;

            @include susy-breakpoint($medium-screen){
                margin-top: 2.5em;
                margin-bottom: 2.5em;
                margin-left: 3.125em;
                width: 15.5em;
                height: 1.81em;
            }
            @media (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi) {
                & {
                    background-image: url(../img/logo-footer@2x.png);
                }
            }
        }
    }


    .footer-social {
        border-left: none;
        margin-top: 0;
        margin-bottom: 0;

        @include susy-breakpoint($medium-screen){
            @include span(4 last);
            border-left: 1px solid #fff;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        &__link {
            color: #FFF;
            width: 25%;
            display: block;
            float: left;
            text-align: center;
            padding-bottom: .62em;
            font-size: 1em;


            @include susy-breakpoint($medium-screen) {
                display: inline-block;
                padding: 1.5rem 0 1.5rem 1.825rem;
                font-size: 1.44em;
                text-align: left;
                width: auto;
                float: none;
            }
        }
    }

    .copyright {

        @include susy-breakpoint($medium-screen) {
            @include span(12 last);
        }
        text-align: center;
        font-weight: 300;
        font-size: .81em;
        color: #AAAAAA;
        line-height: .93em;
        padding: .93em 0;
        background: #fff;
    }
}
