h1.logo {
    margin: -20px auto 0;
    width: 180px;
    height: 180px;
    text-indent: -99999px;
    background: url(../img/logo.png) center center no-repeat;
    -webkit-background-size:  100% 100%;
    background-size:  100% 100%;
}