h1.logo {

    width: 8.125rem;
    height: 8.125rem;

    margin: -1.250rem auto 0;

    img {
        height: auto !important;
    }

    @include susy-breakpoint($medium-screen){
        width: 11.25rem;
        height: 11.25rem;
    }
}