.nav-actions {
    display: none;

    @include susy-breakpoint($medium-screen) {
        display: block;
    }

    &__item {
        display: none;

        @include susy-breakpoint($medium-screen) {
            position: fixed;
            right: 0.62rem;
            color: $action-color;
            font-size: 2em;
            line-height: 0.95;
        }

        &:first-child {
            top: 1.5em;
        }

        &:last-child {
            top: 2.5em;
        }

        &--disabled {
            color: #ddd;
            cursor: default;
        }
    }
}