.nav-toggle {
    &--open i {
        color: #97bfb4;
        font-size: 1.375em;
    }
    &--open h3 {
        display: none;

        @include susy-breakpoint($medium-screen){
            font-size: 1.3em;
            margin: 0;
            display: inline;
            position: relative;
            left: -0.6em;
        }
    }
    &--open h3.white {
        color: #fff;
    }
    &--open h3.black {
        color: #000;
    }

    &--open,
    &--close {
        right: 0.6em;
        position: fixed;
        top: 0.6em;
        font-size: 1.05em;
    }

    &--close {
        color: #fff;
    }
}