.nav-main {
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    width: 100%;
    background: $secondary-background-color;
    @include transform(translate3d(100%,0,0));

    @include susy-breakpoint($medium-screen){
        width: 20%;
    }

    &__list {
        padding: 0;

        li {
            list-style-type: none;
            padding-left: 0;

            a {
                color: #fff;
                display: block;
                padding: 7px 30px;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                @include transition(background 0.18s);

                @include susy-breakpoint($medium-screen){
                    padding: 13px 30px;
                }

                &:hover {
                    text-decoration: none;
                    background: rgba(#000, .15);
                }
            }
        }

    }

    &__social {
        position: absolute;
        bottom: 15px;
        left: 25px;

        a {
            color: #fff;
            font-size: 17px;
            padding-right: 10px;

            &:hover {
                color: rgba(#000, .8)
            }
        }
    }
}