.about {
    &__copy {
        @include padding(null 50px);
        @include susy-breakpoint($medium-screen){
            @include span(6);
        }

        h2 {
            margin-bottom: 40px;
            text-transform: none;
        }
    }

    &__wallpaper {
        @include position(absolute, 0 0 null null);
        background: url(../img/about-bg.jpg) right bottom no-repeat;
        background-attachment: fixed;
        height: 100%;
        width: 48% ;
        overflow: hidden;
    }
}