.portfolio {
    &__element {

        float: none;
        text-align: left;
        padding: .225rem 0.825rem .225rem;
        border: 1px solid #fff;
        border-bottom: 1px solid #f1f1f1;
        letter-spacing: 2px;
        position: relative;
        overflow: hidden;
        -webkit-background-size: cover;
        background-size: cover;

        @include susy-breakpoint(0 $medium-screen+-1) {
            background: none !important;
            width: auto !important;
            height: auto !important;
        }

        @include susy-breakpoint($medium-screen) {
            background: #ddd;
            float: left;
            border-bottom: 1px solid #fff;
            text-align: center;
            width: 33.3%;
            padding: 0;
        }

        @include susy-breakpoint($large-screen){
            width: 25%;
        }

        @include susy-breakpoint($extra-large-screen){
            width: 20%;
        }

        img {
            display: none;

            @include susy-breakpoint($medium-screen) {
                display: block;
                width: 100%;
            }
        }

        &__inner {
            width: 100%;
            opacity: 1;
            background: none;
            position: static;
            color: #ccc;

            @include susy-breakpoint($medium-screen) {
                color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background: rgba(151, 191, 180 , .8);
                @include display(flex);
                @include flex-direction(column);
                @include justify-content(center);

                @include transform(translateY(-100%));
            }

            .portfolio__element:hover & {
                opacity: 1;
            }
        }

        &__title {
            margin-bottom: 0.225rem;
            color: #999;
            line-height: 13px;
            font-size: .625rem;
            display: inline;
            padding: 0;
            margin-top: 0;

            @include susy-breakpoint($medium-screen) {
                color: #fff;
                line-height: 20px;
                font-size: 1.125em;
                padding-left: 1.250rem;
                padding-right: 1.250rem;
            }
        }

        &__url {
            display: none;

            @include susy-breakpoint($medium-screen) {
                margin-bottom: .225rem;
                display: block;
                font-size: .750em;
                color: rgba(0, 0, 0, .3);
            }
        }

        &__link {
            height: auto;
            width: auto;
            display: inline;
            margin: 0;
            border-radius: 0;
            border: 0 solid #fff;
            color: #ddd;
            text-align: center;

            @include susy-breakpoint($medium-screen) {
                height: 2.5rem;
                width: 2.5rem;
                display: block;
                margin: .625rem auto 1.250rem;
                border-radius: 50%;
                border: 1px solid #fff;
                color: #fff;
                @include transition(transform, background);
                @include transition-duration(.3s);

                &:hover {
                    color: #fff;
                    background: rgba(#fff, .3);
                    @include transform(rotate(-360deg));
                }
            }


            i {
                font-size: .938em;

                @include susy-breakpoint($medium-screen) {
                    font-size: 1.125em;
                    padding-top: .625rem;
                }
            }
        }

        &__details {
            display: none;

            @include susy-breakpoint($medium-screen) {
                font-size: .813em;
                display: block;
                @include padding(null 1.250rem);
            }
        }
    }

    &__show-more {
        display: none;

        @include susy-breakpoint($medium-screen) {
            width: 100%;
            position: absolute;
            bottom: 0;
            background: rgba(255, 255, 255, .95);
            left: 0;
            display: block;
            padding: 1rem 0;
            @include transition(padding .3s);

            &:hover {
                padding-top: 2.525rem;
                padding-bottom: 1.750rem;
            }
        }
    }

}
