.about {
    &__copy {
        min-height: 100vh;
        font-size: 0.875em;
        padding-left: 0;
        padding-right: 0;

        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);

        @include susy-breakpoint($medium-screen){
            @include padding(2.5rem 6.25rem);
            font-size: 0.938em;
        }

        @include susy-breakpoint($large-screen){
            @include span(6);
            @include padding(2.5rem 3.125rem);
            font-size: 1.063em;
        }


        h2 {
            margin-bottom: 0.938rem;
            margin-top: 0;
            padding-top: 0.625rem;
            text-transform: none;

            @include susy-breakpoint($medium-screen) {
                padding-top: 0;
                margin-bottom: 2.5rem;
            }
        }
    }

    &__wallpaper {
        display: none;

        @include susy-breakpoint($large-screen) {
            @include position(absolute, 0 0 null null);
            display: block;
            background: url(../img/about-bg.jpg) right bottom no-repeat;
            background-attachment: fixed;
            height: 100%;
            width: 48%;
            overflow: hidden;
        }
    }
}