.portfolio {
    &__element {

        float: none;
        text-align: left;
        padding: 5px 10px 5px;
        border: 1px solid #fff;
        border-bottom: 1px solid #f1f1f1;
        letter-spacing: 2px;
        position: relative;
        overflow: hidden;
        -webkit-background-size: cover;
        background-size: cover;

        @include susy-breakpoint(0 $medium-screen+-1) {
            background: none !important;
            width: auto !important;
            height: auto !important;
        }

        @include susy-breakpoint($medium-screen) {
            background: #ddd;
            float: left;
            border-bottom: 1px solid #fff;
            text-align: center;
            width: 33.3%;
            padding: 0;
        }

        @include susy-breakpoint($large-screen){
            width: 25%;
        }

        @include susy-breakpoint($extra-large-screen){
            width: 20%;
        }

        img {
            display: none;

            @include susy-breakpoint($medium-screen) {
                display: block;
            }
        }

        &__inner {
            width: 100%;
            opacity: 1;
            background: none;
            position: static;
            color: #ccc;

            @include susy-breakpoint($medium-screen) {
                color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background: rgba(151, 191, 180 , 0.8);
                @include display(flex);
                @include flex-direction(column);
                @include justify-content(center);

                @include transform(translateY(-100%));
            }

            .portfolio__element:hover & {
                opacity: 1;
            }
        }

        &__title {
            margin-bottom: 5px;
            color: #999;
            line-height: 13px;
            font-size: 10px;
            display: inline;
            padding: 0;
            margin-top: 0;

            @include susy-breakpoint($medium-screen) {
                color: #fff;
                line-height: 20px;
                font-size: 18px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        &__url {
            display: none;

            @include susy-breakpoint($medium-screen) {
                margin-bottom: 5px;
                display: block;
                font-size: 12px;
                color: rgba(0, 0, 0, 0.3);
            }
        }

        &__link {
            height: auto;
            width: auto;
            display: inline;
            margin: 0;
            border-radius: 0;
            border: 0px solid #fff;
            color: #ddd;
            text-align: center;

            @include susy-breakpoint($medium-screen) {
                height: 40px;
                width: 40px;
                display: block;
                margin: 10px auto 20px;
                border-radius: 100px;
                border: 1px solid #fff;
                color: #fff;
                @include transition(transform, background);
                @include transition-duration(.3s);

                &:hover {
                    color: #fff;
                    background: rgba(#fff, 0.3);
                    @include transform(rotate(-360deg));
                }
            }


            i {
                font-size: 15px;
                padding-top: 0px;

                @include susy-breakpoint($medium-screen) {
                    font-size: 18px;
                    padding-top: 10px;
                }
            }
        }

        &__details {
            display: none;

            @include susy-breakpoint($medium-screen) {
                font-size: 13px;
                display: block;
                @include padding(null 20px);
            }
        }
    }

    &__show-more {
        display: none;

        @include susy-breakpoint($medium-screen) {
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 55px;
            background: rgba(255, 255, 255, 0.95);
            left: 0;
            display: block;
            @include transition(all .3s);

            &:hover {
                height: 80px;
                padding-top: 5px;
                padding-bottom: 20px;
            }
        }
    }

}