.section {
    margin-bottom: 0;
    position: relative;
    overflow-y: hidden;
    height: 100vh;

    @include susy-breakpoint(0 $medium-screen+-1){
        height: auto;
        padding: 1.250rem;

        .u-animated:not(.section--first .u-animated) {
            opacity: 1;
        }
    }

    &__title {
        display: block;
        padding: 0.625rem 0.625rem;
        color: #333;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 0.875em;
        margin-bottom: 0.813rem;

        @include susy-breakpoint($medium-screen){
            display: none;
        }
    }
}