.skills {
    height: 100vh;
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);

    .skills-group {
        text-align: center;
        margin: 0 auto .750rem;

        &__title {
            cursor: pointer;
            margin-top: 0;

            @include susy-breakpoint(0 $medium-screen+-1){
                text-align: left;
                padding-left: .625em;
                font-size: .813em;
                border-bottom: 1px solid #f1f1f1;
                margin-bottom: 0;
            }
        }

        &__wrap {
            height: 0;
            overflow: hidden;
            margin-bottom: -1px;
            background: $dirt-white;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;

            @include susy-breakpoint(0 $medium-screen+-1){
                top: 0 !important;
            }

            &.opened {
                height: auto;
            }
        }

        hr {
            display: none;

            @include susy-breakpoint($medium-screen){
                width: 12.5rem;
                margin: auto;
            }
        }
    }

    .skill {
        float: left;
        opacity: 0;
        height: 4.375rem;
        width: 25%;

        @include susy-breakpoint($medium-screen){
            width: 20%;
            height: 6.25rem;
        }

        &__icon {
            font-family: 'FontAwesome';
            color: $action-color;
            padding-top: .75rem;
            line-height: 25px;
            font-size: 1.563em;

            @include susy-breakpoint($medium-screen){
                line-height: 53px;
                font-size:40px;
            }
        }

        &__title {
            font-weight: 100;
            color: #000000;
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 0.438em;
            font-size: 0.688em;
            line-height: 14px;

            @include susy-breakpoint($medium-screen){
                font-size: 0.938em;
                line-height: 22px;
            }
        }
    }
}